body{
    text-align: center;
}
#contenedor_principal{
    width: 100vw;
    height: 100vh;
    background: blue;
  
}
#contenedor_heroe{
    width: 100%;
    height: 70%;   
    background-color: black;
}
#contenedor_heroe_armas{
    width: 100%;
    height: 75%;
    background: cyan;
    position: relative;
    display: flex;
}

#imagen_heroe{
    width: 50%;
    height: 90%;
    background-color: orange;
    margin: auto auto;

}
.equipoHeroe{
    width: 25%;
    height: 35%;
    background-color: blueviolet;
    position: absolute;
}
#imagen_arma{
    top: 15px;
    left: 15px;
}
#imagen_escudo{
    right: 15px;
    top: 15px;
}
#imagen_equipo_1{
    bottom: 15px;
    left: 15px;
}
#imagen_equipo_2{
    bottom: 15px;
    right: 15px;

}

#contenedor_heroe_estadisticas{
    width: 100%;
    height: 25%;
    background: red;
}

#barra_salud{
    width: 90%;
    height: 20%;
    background-color: green;
    margin: 0 auto;
}
#contenedor_estadisticas{
    width: 100%;
    height: 80%;
    background: brown;
    display: flex;
}
#contenedor_estadisticas_columna_1,
#contenedor_estadisticas_columna_2{
    width: 50%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.barraEstadistica{
    width: 90%;
    height: 25%;
    background: yellow;
}

#contenedor_enemigos_aliados{
    width: 100%;
    height: 30%;
    background: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
   /*  margin-top: -22px; */
}

#contenedor_enemigos_aliados h5{
    width: 80%;
    height: 15%;
    background: violet;
}
#cartas_enemigos{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-evenly;
}
.cartaEnemigo{
    width: 25%;
    height: 90%;
    background: purple;
}

/* <div id="contenedor_enemigos_aliados">
            <h5>Enemigos</h5>
            <div id="cartas_enemigos">
                <div class="cartaEnemigo">Carta Enemigo</div>
                <div class="cartaEnemigo">Carta Enemigo</div>
                <div class="cartaEnemigo">Carta Enemigo</div>
            </div> */
